// Variáveis sem mudanças
$font-main: 'Segoe UI', sans-serif;

$color-bg: #f4f4f4;
$color-text: #333;
$color-primary: #6200ee;
$color-primary-dark: #3700b3;
$color-white: #fff;
$color-gray: #ccc;
$color-footer: #ddd;

$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;
