@use "../abstracts/variables" as variables;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: variables.$spacing-sm 0;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
