@use "../abstracts/variables" as variables;

.services {
  padding: variables.$spacing-md variables.$spacing-sm;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: variables.$spacing-sm;
  }
}
