@use "./variaveis" as variaveis;
@use "./mixins";

.cabecalho {
  background: variaveis.$cor-primaria;
  color: rgb(217, 229, 225);
  @include mixins.espacamento-padrao;
  //padding: variaveis.$espacamento-padrao;

  &__titulo {
    text-align: center;
  }
}
